/* css ruleset */
.flex {
  display: flex;
}
.container {
  margin: 0 60px;
  padding: 0 48px;
}
/* css ruleset */

/* nav start */
nav {
  justify-content: space-between;
  align-items: center;
}
.navbar__main_buttons__logo {
  padding: 8px 0;
  font-size: 30px;
  margin-right: 30px;
}
.navbar__main_buttons__ul {
  align-items: center;
  padding: 16px 0;
}
.navbar__main_buttons__ul ul {
  gap: 10px;
}
.navbar__main_buttons {
  flex-grow: 1;
  align-items: baseline;
}
.navbar__cart_button {
  margin-left: auto;
}
.navbar__cart_button button {
  padding: 6px 12px;
  border: 1px solid black;
  border-radius: 0.375rem;
  background-color: white;
}
.number_div{
    margin-left: 5px;
}
#number{
    height: 90%;
    width: 90%;
    border-radius: 100%;
    padding:3px 5px;
    background-color: black;
    color: white;
}
.ul__shop_button {
  position: relative;
}
.ul__shop_button .dropdown_menu {
  display: none;
  position: absolute;
  /* z-index: 1; */
  left: 0px;
  top: 20px;
  width: 120px;
  /* visibility: hidden; Start hidden */
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  /* transition: visibility 300ms, opacity 300ms ease; Add opacity for smooth transition */
  /* opacity: 0; Start as invisible */
}

.navbar .dropdown_menu li {
  margin-top: 10px;
}
.ul__shop_button #dropdown_menu ul .first_list {
  margin-top: 0px;
}
.navbar__toggle_menu {
  display: none;
}
.navbar__toggle_menu button {
  padding: 10px;
  border: 3px solid white;
}
.navbar__toggle_menu button i {
  color: rgba(0, 0, 0, 0.55);
  font-size: 30px;
}
.navbar__toggle_menu button:active {
  border: 3px solid black;
}

/* nav end */

/* header start */
header {
  background-color: rgb(33, 37, 41);
  width: 100vw;
}
.header_section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header_section .header {
  font-size: 57px;
  text-align: center;
  color: white;
  margin-top: 96px;
}

.header_section .content {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 96px;
}
/* header end */

/* main start */
.main__product_cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 50px;
  padding: 96px 48px;
}
.card_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding-bottom: 30px;
}
.main__product_cards .card_picture img {
  max-width: 100%;
  max-height: 100%;
}
.card_item button {
  border-radius: 0.375rem;
  padding: 24px;
  border-style: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
  transition: 300ms;
}
.card_item * {
  text-align: center;
}
.stars {
  color: gold;
}
.card_item button:hover {
  background-color: black;
  color: white;
}
.pagination_div{
  display: flex;
  /* place-items: center; */
  justify-content: center;
  width: 100%;
  gap: 40px;
}
.pagination_btn{
  padding: 10px 20px;
  border: none;
  background-color: grey;
  color: black;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 50px;
}
/* main end */

/* footer start */
footer {
  background-color: black;
  padding: 3rem 0;
}
footer .container {
  text-align: center;
  color: white;
}
.admin_link{
  background-color: transparent;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
/* footer end */

/* media queries */
@media screen and (max-width: 1200px) {
  .main__product_cards {
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto auto; */
    justify-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .navbar__main_buttons__ul,
  .navbar__cart_button {
    display: none;
  }
  .navbar__cart_button {
    margin-left: 0;
  }
  nav {
    padding-right: 20px;
    justify-content: space-between;
    align-items: start;
  }
  .navbar__toggle_menu {
    display: block;
  }
  .navbar__main_buttons {
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: space-between;
  }
  .navbar__main_buttons ul {
    display: block;
    margin: 0 auto;
  }
  .ul__shop_button {
    position: static !important;
  }
  #dropdown_menu {
    position: static;
    width: 70vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 786px) {
  .container {
    padding: 0 24px;
    margin: 0 24px;
  }
  .main__product_cards {
    grid-template-columns: auto auto;
    /* grid-template-rows: auto auto auto; */
    padding: 48px 0;
    gap: 5px;
  }
}
